<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1a9kz_iFxA0ZiHPmKNf9JdlqtKZ-Q7D8</string>
	<key>GCM_SENDER_ID</key>
	<string>946032335101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingRoom</string>
	<key>PROJECT_ID</key>
	<string>tristar-booking-room</string>
	<key>STORAGE_BUCKET</key>
	<string>tristar-booking-room.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946032335101:ios:cafeb3e1e6102a1f7c4694</string>
</dict>
</plist>